<html>
    <head>
    </head>
    <body>
        <h1>Hello {{ name }}</h1>
        <p>
            This email contains your account details for {{ website }}.
        </p>
        <p>
            To log on please use your email address and password. Your email
            address used is {{ email }} and your password is as follows:
        </p>
        <p>
            {{ password }}
        </p>
        <p>
            <a href="{{ url }}">{{ url }}</a>
        </p>
        <p>
            Regards
        </p>
        <p>
            Admin team {{ website }}
        </p>
    </body>
</html>